# Created by https://www.gitignore.io/api/codeblocks
# Edit at https://www.gitignore.io/?templates=codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

# End of https://www.gitignore.io/api/codeblocks

repack/
sample/
